<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Order placed successfully!</h1>
      <p class="lead text-muted">Thanks, Your Total amount paid is <%= @amount %>.</p>
      <div class="text-left">
        <% @products.each do |product| %>
          <h3><%= product.name %></h3>
          <p>Cost Price: <%= product.price %></p>
          <!-- Add more details as needed -->
        <% end %>
      </div>
    </div>
  </div>
</section>
